// Body
$body-bg: #f8fafc;

// Typography
$font-nunito: 'Nunito Sans', sans-serif;
$font-merriweather: 'Merriweather', serif;

// Colors
$white:#fff;
$black:#000;
$theme-green: #14A697;
$theme-orange: #F25252;
$theme-black: #383838;
$heading-color: #4a4a4a;
$btn-purple-gradient: #8526ec;
$btn-green-gradeint: #21c6f4;
$theme-light-gray: #eaeaea;

