// Body
$body-bg: #f8fafc;

// Typography
$font-nunito: 'Montserrat', sans-serif;
$font-merriweather: 'Montserrat', sans-serif;
// 'Merriweather', serif
// Nunito Sans', sans-serif

// Colors
$white:#fff;
$black:#000;
$theme-green: #0083ef;  
$theme-orange: #293745;
$theme-black: #293745;
$heading-color: #4a4a4a;
$btn-purple-gradient: #8526ec;
$btn-green-gradeint: #21c6f4;
$theme-light-gray: #eaeaea;
$lighter-gray-body: #f3f2ef;
$border-color-card: #dcdcdc;

